.top {
    background-color: #1E5128;
    color: #D8E9A8;
    text-align: center;
}

body {
    background-image: url("./record.png");
    margin: 0;
}

.secondTop {
    background-color: 	#D3D3D3;
    padding: 1em;
}

.list {
    background-color: #191A19;
    color: #D8E9A8;
    border:0.5em #1E5128 dotted;
    width: 15rem;
    font-size: 1.75rem;
}